.jss1 {
    background-color: transparent;
    color: white;
   .jss2 {
    background-color: white;
    color: white;
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgb(76, 135, 137);
    }
  }
  .jss3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .jss31{
        display: flex;
        align-items: center;
    }
  }
}
